<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <link rel="stylesheet" href="./style.css">

    <title>Gym Routine</title>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item mx-5  ">
                <a href="./index.html"> <img src="./Utilidades/casa.png" alt="icono" width="30px" height="30px" class="ms-3 icon" tabindex="0"></a>
                <p class="nav-link  text-light">Home</p>
               
              </li>
              <li class="nav-item mx-5 ">
               <a href="./Rutinas.html" > <img src="./Utilidades/musculo.png" alt="icono" width="30px" height="30px" class="ms-3 icon" tabindex="0"></a>
                <p class="nav-link   text-light">Rutinas</p>
              </li>
              <li class="nav-item mx-5 ">
               <a href="./Ejercicios.html" class=""> <img src="./Utilidades/pesa.png" alt="" width="30px" height="30px" class="ms-4 icon" tabindex="0"></a>
                <p class="nav-link   text-light">Ejercicios</p>
              </li>
              <li class="nav-item mx-5 ">
                <a href="./Utilidades.html" class=""> <img src="./Utilidades/tools.png" alt="" width="30px" height="30px" class="ms-4 icon" tabindex="0"></a>
                 <p class="nav-link icon text-light ">Utilidades</p>
               </li>
            </ul>
            <div class="d-flex">
              <button class="btn rounded-pill btn-select text-light" id="cerrarSesion">
                Cerrar Sesion
              </button>

            </div>
          </div>
        </div>
      </nav>

    <div class="mb-2">
      <div id="datosUser">
      </div>
    </div>

    
    <div class="d-grid gap-2 d-flex justify-content-center">
      <button class="btn  mx-2 btn-select text-light"  id="modificar">Modificar Informacion</button>
    </div>



</body>

  <script src="./home.js"></script>  
  </html>